.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .product-card {
    border: 2px solid #d8e0e6;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
  }
  
  .product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

  }

  .card-image{
    margin: 5px 0px 25px 0px;
    height: 200px;
  }
  /* .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1, h2 {
    text-align: center;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

.clear-cart{
  /* width: 130px; */
  align-items: center;
}

#position-cart{
  position: absolute; 
  left: -350px; 
  top: 70px;
}

/* #clear-cart {
    margin-top: 5px;
    width: 100px;
    align-items: center;
} */

/* @include media-breakpoint-down(sm) {
  #navbarSupportedContent{
    display: none;
  }
 } */
 .banner_res{
  font-size:80px; 
 }
 /* .navbar-2{
  display: none;
 } */
 
 @media screen and (max-width: 1000px)  { 
 
  .banner_res{
    
    font-size: 50px;
  }
  .hide-2{
    display: none;
  }

  
  }
  @media screen and (max-width: 576px){
    
    .response a img{
      height: 40px;
    }
    .dropdown button{
      /* height: 30px; */
      font-size: small;
      /* padding: 100px; */
    }
    #position-cart{
      position: absolute; 
      left: -240px; 
      top: 70px;
    }
  }
  @media screen and (max-width: 340px){
    
    .response a img{
      display: none;
    }
    #position-cart{
      position: absolute; 
      left: -200px; 
      top: 70px;
    }
    }
  
  @media screen and (min-width: 1001px){
    .hide-1{
      display: none;
    }
    
  }